.media-control-bar {
  align-content: center;
  background: #5f6570;
  border-radius: 25px;
  color: black;
  display: inline-flex;
  flex-direction: row;
  font-size: 20px;
  padding: 5px;
  width: 40%;
}